<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">

    <title>Gas Utility</title>
</head>

<body>
    <header class="row container">
        <a href="#" class="logo">
            <img src="../static/Gas.png" alt="">
        </a>
        <div class="toggleMenu" onclick="toggleMenu();"></div>
        <nav class="navigation row">
            <ul class="primary-links row">
                <li><a href="#">Home</a></li>
                <li><a href="./create_request.html">Create Request</a></li>
                <li><a href="#">Track Requests</a></li>
            </ul>
        </nav>
    </header>

    <!-- End Navigation-->

    <!--Hero Section -->
    <section class="hero">
        <div class="container row">
            <div class="hero-content">
                <div class="content">
                    <div class="recipe row">
                        <h1>Powering Homes and Businesses with Safe, Reliable Energy</h1>
                        <p>Your trusted partner for all your natural gas needs.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->
</body>

</html>